.place {
    position: absolute;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
}

.place .fontaine{
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotateY(180deg) translateZ(102px);
    border-radius: 50%;
    background: radial-gradient(circle, white 60%, gray 60%);
    border: solid yellow 30px;
}

.place .route1{
    position: absolute;
    width: 300px;
    height: 30px;
    background-color: yellow;
    transform: rotateY(180deg) translateZ(102px)  translateY(120px) translateX(300px);
}

.place .route2{
    position: absolute;
    width: 300px;
    height: 30px;
    background-color: yellow;
    transform: rotateY(180deg) translateZ(102px)  translateY(120px) translateX(-260px);
}

.place .route3{
    position: absolute;
    width: 30px;
    height: 300px;
    background-color: yellow;
    transform: rotateY(180deg) translateZ(102px)  translateY(250px) translateX(-114px);
}

.place .routem{
    position: absolute;
    width: 30px;
    height: 580px;
    background-color: yellow;
    transform: rotateY(180deg) translateZ(102px)  translateY(-570px) translateX(-114px);
}

.place .jet1{
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotateX(90deg) rotateY(180deg) translateZ(102px) translateY(-90px) translateX(-60px);
    border-radius: 50% 50% 50% 50%;
    border: dotted white 10px;
}

.place .jet2{
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotateX(90deg) rotateY(180deg) translateZ(102px) translateY(-90px) translateX(-140px);
    border-radius: 50% 50% 50% 50%;
    border: dotted white 10px;
}

.place .jet3{
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotateX(90deg) rotateY(90deg) translateZ(102px) translateY(-90px) translateX(130px);
    border-radius: 50% 50% 50% 50%;
    border: dotted white 10px;
}

.place .jet4{
    position: absolute;
    width: 50px;
    height: 50px;
    transform: rotateX(90deg) rotateY(90deg) translateZ(102px) translateY(-90px) translateX(60px);
    border-radius: 50% 50% 50% 50%;
    border: dotted white 10px;
}