.place {
    position: absolute;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
}

.place .fontaine{
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotateY(180deg) translateZ(102px);
    border-radius: 50%;
    background: radial-gradient(circle, blue 60%, gray 60%);
    border: solid yellow 30px;
}

.place .route1{
    position: absolute;
    width: 300px;
    height: 30px;
    background-color: yellow;
    transform: rotateY(180deg) translateZ(102px)  translateY(120px) translateX(300px);
}

.place .route2{
    position: absolute;
    width: 300px;
    height: 30px;
    background-color: yellow;
    transform: rotateY(180deg) translateZ(102px)  translateY(120px) translateX(-260px);
}

.place .route3{
    position: absolute;
    width: 30px;
    height: 300px;
    background-color: yellow;
    transform: rotateY(180deg) translateZ(102px)  translateY(250px) translateX(-114px);
}

.place .routem{
    position: absolute;
    width: 30px;
    height: 580px;
    background-color: yellow;
    transform: rotateY(180deg) translateZ(102px)  translateY(-570px) translateX(-114px);
}

.place .jet1{
    position: absolute;
    width: 50px;
    height: 50px;
    translate: 50px 100px -100px;
    transform: rotateX(90deg);
    border-radius: 50% 50% 50% 50%;
    border: dotted aqua 10px;
    animation: rotateJet1 5s linear infinite;
}

.place .jet2{
    position: absolute;
    width: 50px;
    height: 50px;
    translate: 130px 100px -100px;
    transform: rotateX(90deg);
    border-radius: 50% 50% 50% 50%;
    border: dotted aqua 10px;
    animation: rotateJet2 5s linear infinite;
}

.place .jet3{
    position: absolute;
    width: 50px;
    height: 50px;
    translate: 100px 130px -100px;
    transform: rotateX(90deg) rotateY(90deg);
    border-radius: 50% 50% 50% 50%;
    border: dotted aqua 10px;
    animation: rotateJet3 5s linear infinite;
}

.place .jet4{
    position: absolute;
    width: 50px;
    height: 50px;
    translate: 100px 60px -100px;
    transform: rotateX(90deg) rotateY(90deg);
    border-radius: 50% 50% 50% 50%;
    border: dotted aqua 10px;
    animation: rotateJet4 5s linear infinite;
}

@keyframes rotateJet1 {
    from {
      rotate: y 0deg;
    }
    to {
      rotate: y -360deg;
    }
  }

@keyframes rotateJet2 {
    from {
        rotate: y 0deg;
    }
    to {
        rotate: y 360deg;
    }
}

@keyframes rotateJet3 {
    from {
      rotate: x 0deg;
    }
    to {
      rotate: x -360deg;
    }
  }

@keyframes rotateJet4 {
    from {
        rotate: x 0deg;
    }
    to {
        rotate: x 360deg;
    }
}