body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #87CEEB; /* ciel bleu */
  width: 90vmin;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: 2px solid black;
}

.scene {
  perspective: 5000px;
  transform: scale(0.03);
}


.terrain{
  position: relative;
  width: 2000px;
  height: 2000px;
  transform-style: preserve-3d;

  /* rotate: x -1deg;
  rotate: y 250deg;
  translate: 0 100px 5000px; */

    /* rotate: x -1deg; */
  /* rotate: y 300deg; */
  translate: 0px 200px 4750px;
  transform: rotateY(75deg);

  /* rotate: x 15deg; */
  /* rotate: y 400deg; */
  /* translate: 0 50px 4750px; */


  animation: rotateMap 50s linear infinite;
}

@keyframes rotateMap {
  from {
    rotate: y 0deg;
    /* transform: rotateY(75deg); */
  }
  to {
    rotate: y 360deg;
    /* transform: rotateY(75deg); */
  }
}

.herbe{
  position: absolute;
  width: 2000px;
  height: 2000px;
  background-color: green;
  transform: rotateX(90deg) translateX(-00px) translateY(-00px) translateZ(0px);
  
}

.maison1{
  transform: translateY(797px) translateX(300px) rotateY(90deg);
}

.maison2{
  transform: translateY(797px) translateX(1300px) rotateY(-90deg);
}

.maison3{
  transform: translateY(797px) translateX(800px) translateZ(500px) rotateY(180deg);
}

.mairie{
  transform: translateY(797px) translateX(800px) translateZ(-800px);
}

.place{
  transform: translateY(797px) translateX(770px) translateZ(-30px) rotateX(90deg);
}