body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #87CEEB; /* ciel bleu */
}

.scene {
  perspective: 2000px;
  /* transform: scale(0.5); */
}

@media screen and (max-width: 900px){
  .scene{
    transform: scale(0.2);
  }
}

@media screen and (min-width: 900px) and (max-width: 1280px){
  .scene{
    transform: scale(0.4);
  }  
}

@media screen and (min-width: 900px){
  .scene{
    transform: scale(0.5);
  } 
}

@keyframes rotateHouse {
  from {
    transform: translateZ(0px) translateX(0px) rotateX(-50deg) rotateY(0deg);
  }
  to {
    transform: translateZ(0px) translateX(0px) rotateX(-50deg) rotateY(360deg);
  }
}



.terrain{
  position: relative;
  width: 2000px;
  height: 2000px;
  transform-style: preserve-3d;
  /* transform: rotateX(-0.5deg) rotateY(0deg) translateZ(4605px) translateX(100px); */
  animation: rotateHouse 5s linear infinite; /* Animation de rotation */
}

.herbe{
  /* transform-origin: center; */
  position: absolute;
  width: 2000px;
  height: 2000px;
  transform-style: preserve-3d; /* a le mettre quand même si pas d'autres éléments (sinon bug dans la version mobile) */
  background-color: green;
  transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(90deg);
  
}

.maison1{
  transform: translateY(797px) translateX(300px) rotateY(90deg);
}

.maison2{
  transform: translateY(797px) translateX(1300px) rotateY(-90deg);
}

.maison3{
  transform: translateY(797px) translateX(800px) translateZ(500px) rotateY(180deg);
}

.mairie{
  transform: translateY(797px) translateX(800px) translateZ(-800px);
}

.place{
  transform: translateY(797px) translateX(770px) translateZ(-30px) rotateX(90deg);
}