body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #87CEEB; /* ciel bleu */
}

.scene {
  perspective: 2000px;
  transform: scale(2);
}

/* @media screen and (max-width: 900px){
  .scene{
    transform: scale(0.2);
  }
}

@media screen and (min-width: 900px) and (max-width: 1280px){
  .scene{
    transform: scale(0.4);
  }  
}

@media screen and (min-width: 900px){
  .scene{
    transform: scale(0.5);
  } 
} */

@keyframes rotateHouse {
  0% {
    transform: translateX(707px) translateZ(293px) rotateX(-5deg) rotateY(-45deg);
  }
  50%{
    transform: translateX(0px) translateZ(0px) rotateX(-5deg) rotateY(0deg);
  }
  100% {
    transform: translateX(-707px) translateZ(293px) rotateX(-5deg) rotateY(45deg);
  }
}



.terrain{
  position: relative;
  width: 2000px;
  height: 2000px;
  transform-style: preserve-3d;
  /* transform: rotateY(-45deg) translateX(707px) translateZ(293px) rotateX(-5deg); */
  /* transform: rotateY(45deg) translateX(0px) translateZ(0px) rotateX(0deg); */
  /* transform: rotateY(45deg) translateX(-707px) translateZ(293px) rotateX(-0deg); */
  animation: rotateHouse 5s linear infinite;
}

.herbe{
  /* transform-origin: center; */
  position: absolute;
  width: 2000px;
  height: 2000px;
  transform-style: preserve-3d; /* a le mettre quand même si pas d'autres éléments (sinon bug dans la version mobile) */
  background-color: green;
  transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(90deg);
  
}

.maison1{
  transform: translateY(797px) translateX(300px) rotateY(90deg);
}

.maison2{
  transform: translateY(797px) translateX(1300px) rotateY(-90deg);
}

.maison3{
  transform: translateY(797px) translateX(800px) translateZ(500px) rotateY(180deg);
}

.mairie{
  transform: translateY(797px) translateX(800px) translateZ(-800px);
}

.place{
  transform: translateY(797px) translateX(770px) translateZ(-30px) rotateX(90deg);
}